	header
	{
		z-index:999999;	
		position:fixed;
		background:rgba(63,167,253,0.6);
		width:100%;
		height:10vh;
		transition:ease 0.2s;
		margin-bottom: 10em;
	}
	
	header:hover
	{
		background:rgba(63,167,253,1);	
	}
	
	header ul li
	{
		float:left;
		height:9vh;
		width:25%;
		margin:0;
		background-repeat:no-repeat;
		background-position:50% 50%;
		list-style:none;
		transition:ease 0.2s;
	}
	
	header ul li p
	{
		text-align:center;
		line-height:10vh;
		color:transparent;
	}
	
	.me
	{
		width: 7vw;
		height: 6vh;
		background:rgba(0,0,0,0.8);
		float:left;
		color:white;
		
	}
	
	.me p
	{
		margin:auto;
		text-align:center;
		position:relative;
		top: 1.5vh;
		color:white;
	}
	
	.headerOverlay
	{
		background:rgba(0,0,0,0.80);
		width:50%;
		height:50%;
		margin:auto;
		margin-top: 5%;
		margin-left: 25%;
	}
	
	.headerOverlay p
	{
		color: white;
		text-align:center;
		position:relative;
		bottom: 1em;
		font-size: 18px;	
	}
	
	header ul li:hover
	{
		background:rgba(68,215,233,1.00);
	}
		
	#login .loginHover
	{
		margin-left: -150em;
		width: 11em;
		height: 10em;
		background:rgba(22,22,22,0.8);
	}
	
	#login:hover .loginHover
	{
		margin-left: 6.1em;
	}
		
		
	#login img
	{
		width: 4.5em;
		height: 4em;	
		border-radius: 2em;
		background:red;
		position:absolute;
		bottom: 0.5em;
		margin-left: 15em;
	}
	
	#login .loginHover ul li
	{
		height: 2em;
		width: 11em;
		margin-top: 0.5em;
		margin-left: 0em;
		background:rgba(63,167,253,0.6);
		text-align:center;
		color:white;
		overflow:hidden;
		position:relative;
	}
	
	.loginHover ul li a
	{
		display:block;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		position:absolute;
		text-decoration:none;
		color:white;
	}